@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Light theme (default) */
:root {
  --color-background: 255 255 255;
  --color-content: 15 23 42;
  --color-primary: 34 197 94;
}

/* Dark theme overrides */
.dark {
  --color-background: 15 23 42;
  --color-content: 255 255 255;
  --color-primary: 154 255 174;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.25s ease-out forwards;
}
.animate-shake {
  animation: shake 0.4s ease-in-out;
}

.gauge-wrapper {
  width: 320px; /* or responsive constraints like w-80 in Tailwind */
  height: 200px; /* fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.gauge-canvas {
  width: 100%; /* purely visual scaling */
  height: 100%;
}

.volume-canvas {
  width: 120px;
  height: 120px; /* must match width */
  display: block;
}

.hospital-selector-overlay {
  display: none;
  opacity: 0;
  visibility: hidden;
}
